
/*Sidewide settings*/
html {
  font-size: 16px;
  max-width: 1057px;
  margin: 0 auto;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #3E3E3E;
}

h1 {}

h2 {
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 24px;
}
h3{
  font-size: 1.3rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
}
p {
  font-size: 0.85rem;
  line-height: 1rem;
}
.subtitle {
  font-size: 1.2rem;
  line-height: 2rem;
}
.author {
  font-weight: bold;
  padding-top: 2rem;
}

.container {
  padding: 32px 24px;
  display: flex;
}
.container.introduction {
  background-color: #C6C6C6;
}
.container.courses {
  background-color: #d7d7d7;
}
h2.headline {
  width: 100%;
  text-align: center;
}

.btn {
  text-align: center;
  color: white;
  background-color: #3E3E3E;
  margin: 2em auto;
  padding: 8px;
  width: auto;
}
.firstcl {
  width: 60%;
  margin-right: 24px;
}
.firstcl img, .firstcl video  {
  width: 100%;
}
.mobile {
  display: none;
}

@media screen and (max-width:600px) {
  .full {
    display: none;
  }
  .container {
    padding: 32px 16px;
    flex-direction: column;
  }
  .insert.mobile {
    display: block;
    height: 180px;
    background-color: #3E3E3E;
  }
  .container.courses {
    background-color: #fff;
  }
}


/*Header and Navigation Styling*/

header .container {
  height: 64px;
  padding-top: 0;
  padding-bottom: 0;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
}
.colmar {
  color: #3E3E3E;
  font-weight: bold;
}
.academy {
  color: #C6C6C6;
}
nav ul span {
  padding: 0 0.5rem;
}

@media screen and (max-width:600px) {
  header .mobile {
    display: flex;
    height: 64px;
    padding: 0 24px;
    align-items: center;
    justify-content: space-between;
  }
}

/*Introduction*/

.introduction {
  align-items: center;
}
.greeting {
  width: 30%;
  margin-left: 16px;
}
@media screen and (max-width:600px) {
  .greeting {
    width: 100%;
    margin-left: 0;
  }
}

/*Articles*/
.container.information-main {
  padding: 0;
}
.information-main .feature {
  margin: 32px 24px;
}
.feature img {
  margin-bottom: 32px;
}
.information {
  border-left: 2px solid #d7d7d7;
  padding-top: 32px;
  width: 423px;
}
.info-box {
  display: flex;
  align-items: center;
  padding: 16px;
}
.info-box:nth-child(3){
  background-color: #d7d7d7;
}
.info-box img {
  width: 35%;
  margin-right: 16px;
}
.info-box.orientation {
  padding-top: 0px;
  border-bottom: 2px solid #d7d7d7;
}
.info-box .campus {
  border-top: 2px solid #d7d7d7;
}
.readmore {
  color: #49A1D9;
  padding-top: 0.5rem;
}

@media screen and (max-width:600px) {
  .information {
    width: 100%;
    padding-bottom: 16px;
  }
  .info-box{
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem 1rem;
  }
  .info-box img.mobile {
    display: block;
    width: 100%;
    margin-right: 0;
  }
  .info-text {
    margin-left: 16px;
    margin-top: 16px;
  }
  .info-box.orientation, .info-box .campus, .information {
    border: none;
  }
  .info-box:nth-child(3){
    background-color: #fff;
  }
}

/*Courses*/
.container.courses {
  flex-direction: column;
}
.courses-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}
.course {
  margin: 8px 16px;
  /*width: 25%;*/
  background-color: #fff;
}
.course-meta {
  height: 220px;
}
.course-meta img {
  height: 60%;
}
.course h3 {
  padding-top: 16px;
  padding-left: 16px;
}
.course p {
  padding-left: 16px;
}
.category {
  padding: 8px 0;
}
.course-content {
  padding-bottom: 32px;
}

@media screen and (max-width:600px) {
  .courses {
    border: 1px solid #C6C6C6;
  }
  .courses-box {
    flex-direction: column;
  }
  .course-meta {
    height: auto;
  }
  .course {
    padding: 16px;
    background-color: #d7d7d7;
    margin: 4px 0;
  }
}

/* Ehibit*/
.container.exhibit {
  flex-direction: column;
}
.exhibit-box {
  display: flex;
  flex-direction: row;
}
.exhibit video {
  margin-bottom: 32px;
}
.exhibit .information {
  border: none;
  padding-top: 0px;
}
.fisma {
  background-color: #d7d7d7;
}

@media screen and (max-width:600px) {
  .container.exhibit {
    padding: 32px 0 24 0;
  }
  .exhibit video {
    margin-bottom: 0;
  }
  .firstcl {
    margin-right: 0;
    width: 100%;
  }
}

/*FOOTER */
footer {
  border-top: 1px solid #d7d7d7;
}
footer.container {
  justify-content: space-between;
}
footer {
  font-size: 0.8rem;
}
@media screen and (max-width:600px) {
  footer {
    border-top: none;
  }
  footer.container {
    padding: 16px;
  }
}
